<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- 권한 사용자 허가 -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_launcher"
        android:label="미션알람"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:screenOrientation="sensor"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        tools:targetApi="31">

        <!-- 알람 리시버 등록 -->
        <receiver
            android:name=".ui.alarm.AlarmReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity android:name=".ui.graph.SquatInfo"
            tools:ignore="Instantiatable" />

        <activity android:name=".MLkit.MLkitMotionDemo"/>

        <activity android:name=".ui.graph.PushUpInfo"/>

        <activity android:name=".ui.mypage.userinfo.ChangeSexActivity"/>

        <activity android:name=".ui.mypage.userinfo.ChangePHActivity"/>

        <activity android:name=".ui.mypage.userinfo.ChangeNameActivity"/>

        <activity android:name=".ui.mypage.userinfo.ChangeIDActivity"/>

        <activity android:name=".ui.mypage.userinfo.MyInfoActivity" />

        <activity android:name=".WebViewActivity" />

        <activity android:name=".SignUpActivity"/>

        <activity android:name=".BottomActivity"/>

        <activity
            android:name=".MLkit.MLkitMotion"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.alarm.AlarmSettingActivity" />
        <activity
            android:name=".ui.alarm.AlarmActivity"
            android:excludeFromRecents="true"
            android:showWhenLocked="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:turnScreenOn="true" />
    </application>

</manifest>